@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg{
    background-image: url("https://res.cloudinary.com/ds1sacenk/image/upload/v1705801038/lhuqlktjowhqni6ssbqn.jpg");
    background-size: cover;
    background-repeat: repeat;
}